# Dépendances
node_modules/

# Rapport de couverture Jest
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env
.env.local
.env.*.local

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
